/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */ 
html,
button,
input,
select,
textarea {
	color: #FFF;
	font-family: "frabk";
	letter-spacing:0;
	font-size:14px;
}

html {
	background: #FFF;
	ms-text-size-adjust: 100%;
	webkit-text-size-adjust: 100%;
	font-smoothing: antialiased;
	overflow-y: scroll;
	webkit-font-smoothing: antialiased;
}

body {
	font-size: 1em;
	line-height: 1.4;
	box-sizing: border-box;
	moz-box-sizing: border-box;
	overflow-x: hidden;
	webkit-box-sizing: border-box;
}


/* ==========================================================================
	Remove text-shadow in selection highlight: h5bp.com/i
	These selection rule sets have to be separate.
	Customize the background color to match your design.
   ========================================================================== */ 
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}


/* ==========================================================================
	A better looking default horizontal rule
   ========================================================================== */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}


/* ==========================================================================
	Remove the gap between images and the bottom of their containers: h5bp.com/i/440
   ========================================================================== */
img {
	vertical-align: middle;
}


/* ==========================================================================
	Remove default fieldset styles.
   ========================================================================== */
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: none;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir { 
	text-indent: -100%; 
	overflow: hidden; 
	white-space: nowrap; 
	display: block; 
	font-size: 0; 
	line-height: 0; 
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* ==========================================================================
   Extends the .visuallyhidden class to allow the element to be focusable
   ========================================================================== */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/* ==========================================================================
   Hide visually and from screenreaders, but maintain layout
   ========================================================================== */
.invisible {
	visibility: hidden;
}

/* ==========================================================================
   Clearfix: contain floats
   ========================================================================== */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}


/* Placeholder */
::-webkit-input-placeholder {
	opacity: 0.8;
}

:-moz-placeholder { /* Firefox 18- */
	opacity: 0.8;  
}

::-moz-placeholder {  /* Firefox 19+ */
   opacity: 0.8;  
}

:-ms-input-placeholder {  
   opacity: 0.8;  
}


/* FONTES DO PROJETO */
@font-face {
	font-family: 'loveloblack';
	src: url('../fonts/lovelo_black-webfont.eot');
	src: url('../fonts/lovelo_black-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lovelo_black-webfont.woff') format('woff'),
		 url('../fonts/lovelo_black-webfont.ttf') format('truetype'),
		 url('../fonts/lovelo_black-webfont.svg#loveloblack') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'loveloline_bold';
	src: url('../fonts/lovelo_line_bold-webfont.eot');
	src: url('../fonts/lovelo_line_bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lovelo_line_bold-webfont.woff') format('woff'),
		 url('../fonts/lovelo_line_bold-webfont.ttf') format('truetype'),
		 url('../fonts/lovelo_line_bold-webfont.svg#loveloline_bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'loveloline_light';
	src: url('../fonts/lovelo_line_light-webfont.eot');
	src: url('../fonts/lovelo_line_light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lovelo_line_light-webfont.woff') format('woff'),
		 url('../fonts/lovelo_line_light-webfont.ttf') format('truetype'),
		 url('../fonts/lovelo_line_light-webfont.svg#loveloline_light') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'open_sansbold';
	src: url('../fonts/opensans-bold-webfont.eot');
	src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/opensans-bold-webfont.woff') format('woff'),
		 url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
		 url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'open_sansbold_italic';
	src: url('../fonts/opensans-bolditalic-webfont.eot');
	src: url('../fonts/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/opensans-bolditalic-webfont.woff') format('woff'),
		 url('../fonts/opensans-bolditalic-webfont.ttf') format('truetype'),
		 url('../fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'open_sansextrabold';
	src: url('../fonts/opensans-extrabold-webfont.eot');
	src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
		 url('../fonts/opensans-extrabold-webfont.ttf') format('truetype'),
		 url('../fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'open_sansextrabold_italic';
	src: url('../fonts/opensans-extrabolditalic-webfont.eot');
	src: url('../fonts/opensans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/opensans-extrabolditalic-webfont.woff') format('woff'),
		 url('../fonts/opensans-extrabolditalic-webfont.ttf') format('truetype'),
		 url('../fonts/opensans-extrabolditalic-webfont.svg#open_sansextrabold_italic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'open_sansitalic';
	src: url('../fonts/opensans-italic-webfont.eot');
	src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/opensans-italic-webfont.woff') format('woff'),
		 url('../fonts/opensans-italic-webfont.ttf') format('truetype'),
		 url('../fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'open_sanslight';
	src: url('../fonts/opensans-light-webfont.eot');
	src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/opensans-light-webfont.woff') format('woff'),
		 url('../fonts/opensans-light-webfont.ttf') format('truetype'),
		 url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'open_sanslight_italic';
	src: url('../fonts/opensans-lightitalic-webfont.eot');
	src: url('../fonts/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/opensans-lightitalic-webfont.woff') format('woff'),
		 url('../fonts/opensans-lightitalic-webfont.ttf') format('truetype'),
		 url('../fonts/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'open_sansregular';
	src: url('../fonts/opensans-regular-webfont.eot');
	src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/opensans-regular-webfont.woff') format('woff'),
		 url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
		 url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'open_sanssemibold';
	src: url('../fonts/opensans-semibold-webfont.eot');
	src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/opensans-semibold-webfont.woff') format('woff'),
		 url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
		 url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'open_sanssemibold_italic';
	src: url('../fonts/opensans-semibolditalic-webfont.eot');
	src: url('../fonts/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/opensans-semibolditalic-webfont.woff') format('woff'),
		 url('../fonts/opensans-semibolditalic-webfont.ttf') format('truetype'),
		 url('../fonts/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format('svg');
	font-weight: normal;
	font-style: normal;

}


/**************
	ESTRUTURA DO SITE
**************/
html {
	background: #FFF;
}

body {
}

section ul li {
	list-style: none;
}



/**************
	GERAL
**************/
.geralTransition {
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.geralHovers {
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

#wrapper {
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

.secao {
	padding: 175px 0;
}

.sessaoContent {
	display: block;
	margin: 0 20px;
	text-align: center;
}

.sessaoTitulo {
	font-family: 'loveloblack', arial, sans-serif;
	text-transform: uppercase;
	font-size: 42px;
	color: #303030;
	display: block;
	text-align: center;
	line-height: 1.2em;
	padding-bottom: 100px;
}

.sessaoTitulo span {
	display: block;
}


/**************
	TOPO
**************/
#topo {
	position: relative;
	border-top: 15px solid #d04343;
	padding-top: 70px;
}

#boxLogo {
	float: left;
	margin-left: 60px;
}

#logo {
	width: 106px;
	height: 38px;
	background: url('../img/logo.png') no-repeat;
}

#menu {
	float: right;
	margin: 5px 60px 0 0;
}

#navMenu {
	position: relative;
	height: 35px;
}

.menuLi {
	float: left;
	list-style: none;
	margin-left: 125px;
}

.menuLiFirst {
	margin-left: 0;
}

.menuLink {
	font-family: 'loveloblack', arial, sans-serif;
	color: #303030;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 1em;
	display: block;
	letter-spacing: 0.02em;
	padding: 8px;
	background: url('../img/links_menu.png');
	background-size: 0 100%;
	background-repeat: no-repeat;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.menuLink:hover {
	background-size: 100% 100%;
}

#menu .btMenu {
	background: url('../img/bts_menu.png') no-repeat;
	display: none;
	width: 50px;
	height: 50px;
	position: relative;
	top: -5px;
}

#menu .abrirMenu {
	background-position: 0 0;
}

#menu .fecharMenu {
	background-position: 0 -70px;
}



/**************
	PORTFOLIO
**************/
#portfolio {
	max-width: 1100px;
	margin: 0 auto;
}

.portfolioLi {
	float: left;
	margin: 0 4% 40px 0;
	max-width: 530px;
	width: 48%;
}

.portfolioLink {
	display: block;
	position: relative;
}

.portfolioLiLast {
	margin: 0;
}

.portfolioImg {
	width: 100%;
	max-width: 530px;
}

.portfolioTitulo {
	background: #d04343;
	position: absolute;
	left: 0;
	right: 100%;
	bottom: 0;
	height: 100px;
}

.portfolioLink:hover .portfolioTitulo {
	right: 0;
}

.portfolioTitulo .portfolioTituloTxt {
	padding: 40px 20px;
	font-family: 'loveloblack', arial, sans-serif;
	color: #FFF;
	font-size: 18px;
	display: block;
	line-height: 1.3em;
	display: none;
}

.portfolioTitulo .animaTitulo {
	display: block;
	-webkit-animation: showTitulo .5s 2;
	-moz-animation:    showTitulo .5s 2;
	-o-animation:      showTitulo .5s 2;
	animation:         showTitulo .5s 2;
}

@-webkit-keyframes showTitulo {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes showTitulo {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes showTitulo {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes showTitulo {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}



/**************
	QUEM SOMOS
**************/
#quemSomos {
	background: #d04343;
}

#quemSomos .sessaoTitulo {
	color: #FFF;
}

#etapasUl {
	display: inline-block;
	margin: 0 auto;
}

.etapasLi {
	float: left;
	margin-right: 70px;
	width: 205px;
	background: url('../img/sprite_etapas.png') no-repeat;
	padding-top: 90px;
}

.etapasLiLast {
	margin-right: 0;
}


.etapasLiPlanejamento {
	background-position: center top;
}

.etapasLiCriacao {
	background-position: center -222px;
}

.etapasLiDesenvolvimento {
	background-position: center -431px;
}


.etapasTitulo {
	font-family: 'loveloblack', arial, sans-serif;
	color: #FFF;
	font-size: 16px;
	line-height: 1em;
	text-transform: uppercase;
	display: block;
	padding-bottom: 25px;
}

.etapaDescricao {
	font-family: 'open_sansregular', arial, sans-serif;
	color: #FFF;
	font-size: 14px;
	letter-spacing: -0.02em;
}



/**************
	CONTATO
**************/
.containercontato {
	margin: 0 auto;
	max-width: 700px;
}

#formContato {
	max-width: 405px;
	min-width: 405px;
	float: left;
}

#formContato .relative {
	background: #FFF;
	border: 2px solid #d04343;
	margin-bottom: 25px;
	padding: 15px;
	position: relative;
}

#formContato .label,
#formContato .input,
#formContato .textarea {
	font-family: 'open_sansregular', arial, sans-serif;
	color: #000;
	font-size: 14px;
}

#formContato .label {
	position: absolute;
	top: 1px;
	left: 15px;
	display: block;
	line-height: 53px;
	height: 53px;
}

#formContato .input {
	border: none;
	height: 23px;
	line-height: 23px;
	margin: 0;
	padding: 0;
	width: 100%;
}

#formContato .textarea {
	line-height: 1.3em;
	resize: none;
}

#formContato .textarea {
	border: medium none;
	height: 145px;
	width: 100%;
}

textarea {
	overflow: auto;
}

#btEnviar {
	background: #d04343;
	padding: 30px 80px;
	text-align: center;
	border: none;
	font-family: 'loveloblack', arial, sans-serif;
	color: #FFF;
	font-size: 16px;
	line-height: 1em;
	text-transform: uppercase;
	cursor: pointer;
	float: right;
	outline: none;
	border-radius: 0;
}

#btEnviar:hover {
	background: #ae2e2e;
}

.contatoInfos {
	float: left;
	margin-left: 50px;
	max-width: 405px;
}

.infosLi {
	background: url('../img/sprite_contato.png') no-repeat;
	min-height: 40px;
	padding-left: 50px;
	display: block;
	line-height: 40px;
	margin-bottom: 40px;
	text-align: left;
}

.infosLi,
.infosLi a {
	font-family: 'open_sansregular', arial, sans-serif;
	color: #000;
	font-size: 14px;
}

.infosLi a:hover {
	color: #d04343;
}

.infosLi span {
	display: block;
}

.infosLiFone {
	background-position: 0 0;
}

.infosLiEmail {
	background-position: 0 -80px;
}

.infosLiEndereco {
	background-position: 0 -160px;
	line-height: 17px;
	padding-top: 4px;
}

.infosLiEndereco .infosLink {
	color: #d04343;
	text-decoration: underline;
	padding-top: 4px;
	display: block;
}

.infosLiEndereco .infosLink:hover {
	color: #000;
	text-decoration: none;
}


@media only screen and (max-width: 1023px) {
	/**************
		TOPO
	**************/
	.menuLi {
		margin-left: 75px;
	}
}


@media only screen and (max-width: 850px) {
	/**************
		TOPO
	**************/
	.menuLi {
		margin-left: 45px;
	}

	/**************
		QUEM SOMOS
	**************/
	.etapasLi {
		margin-right: 40px;
	}

	.etapasLiLast {
		margin-right: 0;
	}
}


@media only screen and (max-width: 750px) {
	/**************
		TOPO
	**************/
	#topo {
		position: inherit;
	}

	#logo {
		margin-left: 20px;
	}

	#menu {
		margin-right: 20px;
	}

	#menu .btMenu {
		display: block;
	}

	.menuLi {
		display: block;
		float: none;
		border-bottom: 2px solid #ae2e2e;
		margin: 0;
		padding: 0 0 0 0;
	}

	.menuLink {
		background: none;
		color: #FFF;
		padding: 35px 0 35px 35px;
	}

	body {
		width: 100%;
	}

	#nav {
		position: absolute;
		top: 0;
		display: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	#nav {
		display: inline;
		height: 100%;
		width: 75%;
		right: -75%
	}

	#contentWrapper {
		position: relative;
		right: 0;
	}

	.menuAberto #contentWrapper {
		right: 75%
	}

	#nav {
		background: #d04343;
		width: 75%;
		top: 0;
		right: 0;
		border-left: 2px solid #ae2e2e;
		-webkit-transform: translate3d(100%, 0, 0);
		-moz-transform: translate3d(100%, 0, 0);
		-ms-transform: translate3d(100%, 0, 0);
		-o-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	#contentWrapper {
		right: 0 !important;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transition: -webkit-transform 500ms ease;
		-moz-transition: -moz-transform 500ms ease;
		-o-transition: -o-transform 500ms ease;
		transition: transform 500ms ease
	}

	.menuAberto #nav {
		-webkit-transform: translate3d(100%, 0, 0);
		-moz-transform: translate3d(100%, 0, 0);
		-ms-transform: translate3d(100%, 0, 0);
		-o-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0)
	}

	.menuAberto #contentWrapper {
		-webkit-transform: translate3d(-75%, 0, 0);
		-moz-transform: translate3d(-75%, 0, 0);
		-ms-transform: translate3d(-75%, 0, 0);
		-o-transform: translate3d(-75%, 0, 0);
		transform: translate3d(-75%, 0, 0)
	}




	/**************
		GERAL
	**************/
	.secao {
		padding: 60px 0;
	}

	.sessaoTitulo {
		font-size: 18px;
		padding-bottom: 60px;
	}


	
	/**************
		PORTFOLIO
	**************/
	.portfolioLi {
		float: none;
		display: block;
		margin: 0 auto 4%;
		width: 100%;
	}




	/**************
		QUEM SOMOS
	**************/
	.etapasLi {
		float: none;
		margin: 0 0 60px 0;
	}

	.etapasLiLast {
		margin-bottom: 0;
	}



	/**************
		CONTATO
	**************/
	#formContato {
		min-width: 0;
		margin: 0 auto;
		float: none;
	}

	#formContato .relative {
		margin-bottom: 10px;
	}

	#btEnviar {
		width: 100%;
		float: none;
		padding: 30px 0;

	}

	.contatoInfos {
		float: none;
		margin: 20px auto 0;
	}

	.infosLi {
		margin-bottom: 20px;
	}
}



/* para o display de alta resolução */
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	#logo {
		background-image: url('../img/logo_2x.png');
		background-size: 106px 38px;
	}

	#menu .btMenu {
		background-image: url('../img/bts_menu_2X.png');
		background-size: 50px 120px;
	}

	.etapasLi {
		background-image: url('../img/sprite_etapas_2x.png');
		background-size: 62px 493px;
	}

	.infosLi {
		background-image: url('../img/sprite_contato_2x.png');
		background-size: 40px 200px;
	}
}


@media print,
	   (-o-min-device-pixel-ratio: 5/4),
	   (-webkit-min-device-pixel-ratio: 1.25),
	   (min-resolution: 120dpi) {
}



/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}